<div>
    <h1>RESET ACCESS KEY</h1>
    <form method="POST" action="/reset_password?{{query_string}}">
        <input type="hidden" name="_csrf" value="{{csrfToken}}">
        <p>COMPLETE THE FORM BELOW TO RESET YOUR ACCESS KEY.</p>

        {{#reset_form.errors.email}}
            <div class="alert alert-danger">ERROR: {{reset_form.errors.email}}</div>
        {{/reset_form.errors.email}}
        <div>
            <label for="login_email">ENTITY EMAIL:</label><br>
            <input type="email" id="login_email" name="email" value="{{reset_form.email}}" autocomplete="email">
        </div>

        {{#reset_form.errors.password_1}}
            <div class="alert alert-danger">ERROR: {{reset_form.errors.password_1}}</div>
        {{/reset_form.errors.password_1}}
        <div>
            <label for="login_password">NEW ACCESS KEY:</label><br>
            <input type="password" id="login_password" name="password_1" autocomplete="new-password">
        </div>

        {{#reset_form.errors.password_2}}
            <div class="alert alert-danger">ERROR: {{reset_form.errors.password_2}}</div>
        {{/reset_form.errors.password_2}}
        <div>
            <label for="login_password_confirm">CONFIRM ACCESS KEY:</label><br>
            <input type="password" id="login_password_confirm" name="password_2" autocomplete="new-password">
        </div>

        <input type="hidden" name="confirmation_code" value="{{reset_form.confirmation_code}}">
        <button type="submit">CONFIRM ACCESS KEY CHANGE</button>
        <div>
            <a href="/login">RETURN TO LOGIN</a>
        </div>
    </form>
</div>
