<div>
    <h1>ACCESS KEY RECOVERY</h1>
    <form autocomplete="off" action="/lost_password" method="post">
        <input type="hidden" name="_csrf" value="{{csrfToken}}">
        <p>
            PROVIDE REGISTERED ENTITY EMAIL TO RECEIVE RECOVERY LINK.
        </p>
        {{#conf_form.errors.email}}
            <div class="alert alert-danger">ERROR: {{conf_form.errors.email}}</div>
        {{/conf_form.errors.email}}
        <div>
            <label for="login_email">ENTITY EMAIL:</label><br>
            <input  id="login_email"
                    type="email"
                    name="email"
                    placeholder="entity@network.local">
        </div>
        <button type="submit">EMIT RECOVERY SIGNAL</button>
        <div>
            <a href="/login">ABORT RECOVERY</a>
        </div>
    </form>
</div>
