<div class="container">
    <div class="row justify-content-center">
        <div class="col-12 col-md-9 col-lg-7 col-xl-6">
            <h1 class="h3 text-center mb-4">Your {{site_name}} profile</h1>
            <div class="card">
                <div class="card-body p-4 p-md-5">
                    <form method="POST">
                        <input type="hidden" name="_csrf" value="{{csrfToken}}">
                        <div class="form-floating mb-3">
                            <input  id="display_name"
                                    class="form-control"
                                    type="text"
                                    name="display_name"
                                    value="{{user.display_name}}"
                                    placeholder="Your name"
                                    required>
                            <label for="display_name">Name</label>
                        </div>
                        <button class="btn btn-primary w-100 py-2" type="submit">Update profile</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
