<div class="container h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-9 col-lg-7 col-xl-6">

            <h2 class="text-uppercase text-center mb-5">Create an account</h2>
            <div class="card" style="border-radius: 15px;">
                <div class="card-body p-5">

                    <form method="POST" action="/register" class="form-register">
                        <input type="hidden" name="_csrf" value="{{csrfToken}}">

                        {{#reg_form.errors.display_name}}
                            <div class="invalid-feedback d-block">
                                {{reg_form.errors.display_name}}
                            </div>
                        {{/reg_form.errors.display_name}}
                        <div data-mdb-input-init="" class="form-outline mb-4">
                            <input type="text" name="display_name" id="display_name" class="form-control form-control-lg" value="{{reg_form.display_name}}" autocomplete="name">
                            <label class="form-label" for="display_name">Your Name</label>
                        </div>

                        {{#reg_form.errors.email}}
                            <div class="invalid-feedback d-block">
                                {{reg_form.errors.email}}
                            </div>
                        {{/reg_form.errors.email}}
                        <div data-mdb-input-init="" class="form-outline mb-4">
                            <input type="email" id="login_email" name="email" class="form-control form-control-lg" value="{{reg_form.email}}" autocomplete="email">
                            <label class="form-label" for="email">Your Email</label>
                        </div>

                        {{#reg_form.errors.password_1}}
                            <div class="invalid-feedback d-block">
                                {{reg_form.errors.password_1}}
                            </div>
                        {{/reg_form.errors.password_1}}
                        <div data-mdb-input-init="" class="form-outline mb-4">
                            <input type="password" id="login_password" name="password_1" class="form-control form-control-lg" autocomplete="new-password">
                            <label class="form-label" for="password_1">Password</label>
                        </div>

                        {{#reg_form.errors.password_2}}
                            <div class="invalid-feedback d-block">
                                {{reg_form.errors.password_2}}
                            </div>
                        {{/reg_form.errors.password_2}}
                        <div data-mdb-input-init="" class="form-outline mb-4">
                            <input type="password" id="login_password_confirm" name="password_2" class="form-control form-control-lg" autocomplete="new-password">
                            <label class="form-label" for="password_2">Repeat your password</label>
                        </div>

                        {{#reg_form.errors.agree_tos}}
                            <div class="invalid-feedback d-block">
                                {{reg_form.errors.agree_tos}}
                            </div>
                        {{/reg_form.errors.agree_tos}}
                        <div class="form-check d-flex justify-content-center mb-5">
                            <input class="form-check-input me-2" type="checkbox" id="agree_tos" name="agree_tos" {{#reg_form.agree_tos}}checked{{/reg_form.agree_tos}}>
                            <label class="form-check-label" for="agree_tos">
                                I agree all statements in <a href="#" data-bs-toggle="modal" data-bs-target="#popupModal">Terms of service</a>.
                            </label>
                        </div>

                        <!-- Honeypot field - hidden from users -->
                        <div class="form-check d-none">
                            <input class="form-check-input" type="checkbox" id="confirm_spammer" name="confirm_spammer" {{#reg_form.confirm_spammer}}checked{{/reg_form.confirm_spammer}}>
                            <label class="form-check-label" for="confirm_spammer">
                                I confirm that I am a spammer.
                            </label>
                        </div>

                        <div class="d-flex justify-content-center">
                            <button type="submit" data-mdb-button-init="" data-mdb-ripple-init="" class="btn btn-success btn-block btn-lg gradient-custom-4 text-body">Register</button>
                        </div>

                        <p class="text-center text-muted mt-5 mb-0">Have already an account? <a href="/login" class="fw-bold text-body"><u>Login here</u></a></p>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Modal Structure -->
<div class="modal fade" id="popupModal" tabindex="-1" aria-labelledby="popupModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="popupModalLabel">Terms of Service</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="popupModalBody">
                {{> tos}}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
